<!DOCTYPE html>
<html>
    <head>
        <title>
            To Do List Application
        </title>
    </head>
    <body>
        <header>
            <h1>To Do List Application </h1>
            <nav>
                <a href="/lists">Home</a>
                <a href="/tasks">View all Tasks</a>
                {% if current_user.is_authenticated %}
                <a href="/lists/new">Create a New List</a>
                <a>{{ current_user.username }}</a>
                <a href="/logout">Log out</a>
                {% else %}
                <a href="/signup">Sign up</a>
                <a href="/login">Log in</a>
                {% endif %}
            </nav>
        </header>
        <div>
            {% block content%}        


            {% endblock %}
        </div>
        <br>
        <footer>Made with &lt;3 </footer>
    </body>
</html>