{% extends "layout.html" %}

{% block content %}
    <div>
        <h3>Sign up</h3>
        <div>
            <form action="{{ url_for('auth.auth_register') }}" method="POST">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <p><input type="text" name="username" placeholder="Username" autofocus=""></p>
                <p><input type="password" name="password" placeholder="Password"></p>
                <button type="submit" class="btn btn-primary">Sign up</button>
            </form>
        </div>
    </div>
{% endblock %}